<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>SearchAllReq</servlet-name>
        <servlet-class>com.RacingDroneWILI.servlet.SearchAllReq</servlet-class>
        <init-param>
            <param-name>moto</param-name>
            <param-value>/moto.list</param-value>
        </init-param>
        <init-param>
            <param-name>esc</param-name>
            <param-value>/esc.list</param-value>
        </init-param>
        <init-param>
            <param-name>fra</param-name>
            <param-value>/fra.list</param-value>
        </init-param>
        <init-param>
            <param-name>it</param-name>
            <param-value>/it.list</param-value>
        </init-param>
        <init-param>
            <param-name>cam</param-name>
            <param-value>/cam.list</param-value>
        </init-param>
        <init-param>
            <param-name>fc</param-name>
            <param-value>/fc.list</param-value>
        </init-param>
        <init-param>
            <param-name>ant</param-name>
            <param-value>/ant.list</param-value>
        </init-param>
        <init-param>
            <param-name>prop</param-name>
            <param-value>/prop.list</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAllReq</servlet-name>
        <url-pattern>*.list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchByModel</servlet-name>
        <servlet-class>com.RacingDroneWILI.servlet.SearchByModel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByModel</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>