<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.RacingDroneWIKI.dao.AntennaDao" >
    <resultMap id="detail" type="com.RacingDroneWIKI.pojo.Antenna" autoMapping="true">
        <result property="model" column="model"/>
        <collection property="extraPictures" column="model" select="com.RacingDroneWIKI.dao.ExtraPicturesDao.getExtPic"/>
    </resultMap>
    <select id="findAll" resultType="com.RacingDroneWIKI.pojo.Antenna">
        SELECT model,img_url,anufacturer,reference_price,weight,connectors,frequency,gain,axial_ratic,polarization FROM antenna;
    </select>
    <select id="findByModel" parameterType="string" resultType="com.RacingDroneWIKI.pojo.Antenna">
        SELECT model,img_url,anufacturer,reference_price,weight,connectors,frequency,gain,axial_ratic,polarization FROM antenna
         WHERE model LIKE  CONCAT('%', #{model}, '%');
    </select>
    <select id="findDetail" parameterType="string" resultMap="detail">
        SELECT * FROM antenna WHERE model=#{model};
    </select>
    <insert id="addAntenna" parameterType="com.RacingDroneWIKI.pojo.Antenna">
        INSERT INTO antenna (`model`, `img_url`, `reference_price`,
         `anufacturer`, `weight`, `length`, `connectors`, `frequency`, `gain`,
          `axial_ratic`, `polarization`, `caption`)
          VALUES (#{model}, #{imgUrl}, #{referencePrice}, #{anufacturer},
           #{weight}, #{length}, #{connectors}, #{frequency},
           #{gain}, #{axialRatic}, #{polarization}, #{caption});
    </insert>
    <update id="updatAantenna" parameterType="com.RacingDroneWIKI.pojo.Antenna">
        UPDATE antenna
        <trim suffixOverrides="," >
            <set>
                <if test="imgUrl !=null">
                    img_url=#{imgUrl},
                </if>
                <if test="referencePrice !=null">
                    reference_price=#{referencePrice},
                </if>
                <if test="anufacturer !=null">
                    anufacturer=#{anufacturer},
                </if>
                <if test="weight !=null">
                    weight=#{weight},
                </if>
                <if test="length !=null">
                    `length`=#{length},
                </if>
                <if test="connectors !=null">
                    connectors=#{connectors},
                </if>
                <if test="frequency !=null">
                    frequency=#{frequency},
                </if>
                <if test="gain !=null">
                    gain=#{gain},
                </if>
                <if test="axialRatic !=null">
                    axial_ratic=#{axialRatic},
                </if>
                <if test="polarization !=null">
                    polarization=#{polarization},
                </if>
                <if test="caption !=null">
                    caption=#{caption},
                </if>
            </set>
        </trim>
        WHERE model=#{model};
    </update>
    <delete id="deleteAntenna" parameterType="string">
        DELETE FROM antenna WHERE model=#{model};
    </delete>
</mapper>